<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>I'm Apurva Bhatt</h1>
		<p>Welcome to my blogging created on rails for zense entry queston</p>
		<p>I love netwok security,running and gym</p>
        <p>This is my first web development project</p>
		<p>If you'd like to follow me. find me on facebook<a href="http://facebook.com">@apurvabhatt</a></p>
	</div>
</div>
